dm_control
einops
h5py
ipython
matplotlib
mujoco==2.3.3
numpy-quaternion
opencv-python
packaging
pexpect
Pillow
pure-python-adb
pygame
pyquaternion
pyrealsense2
pyspacemouse
PyQt6
pyyaml
termcolor
torch==2.0.0
torchvision==0.15.0
tyro
ur-rtde
xarm-python-sdk
zmq
